/* DRIVING AS */
.drive-label {
	margin-right: 50px;
	font-weight: bold;
}
.check-save {
	color: #34bf49;
	margin-top: 0px;
	margin-left: 40px;
	display: none;
}
.drive-toggle {
	margin: auto 0;
}
.team {
	margin-right: 5px;
}
/* LABELS */

.gen-label {
	font-weight: bold;
	margin-right: 0px;
	color: #666;
}
.result-labels {
	width: 125px;
}

/* CALC */
.get {
	color: #fff;
	padding-right: 4px;
	padding-top: 2px;
	padding-left: 3px;
}
.get-btn {

}
.form-control {
	font-size: 1em;
}
.hours {
	font-size: 1em;
	display: none;
}
