/* DRIVING AS */
.drive-label {
	margin-right: 50px;
	font-weight: bold;
}


/* LABELS */

.topbar-container {
	vertical-align: middle;
	height: 50px;
	border-bottom: 1px solid #333;
	box-shadow: 0 4px 2px -2px #111;
}
.topbar {
	line-height: 4em;
	//border: 1px solid red;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}
.topbar-label {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #ccc;
}
.topbar-label-unit {
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #666;
}
.results-icon {
	margin-top: 7px;
}
.results-label {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #ccc;
}

.results-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #428bca;
	margin-left: 25px;
}

.results-text2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
	color: #4dc47d;
	margin-left: 20px;
	//border: 1px solid red;
}

.results-list {
	border-bottom: 1px solid #333;
}


/* CALC */
.get {
	color: #fff;
	padding-right: 4px;
	padding-top: 2px;
	padding-left: 3px;
}

.form-control {
	font-size: 1em;
}
.results-text-unit {
	color: #555;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 400 !important;
}
.dollar-div {
	width: 20px;
	margin-left: -20px;
	//border: 1px solid red;

}
.driving-as-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	/* SOLO color: #ff7243;*/
	color: #f2af00;
	margin-left: 25px;
	//border: 1px solid red;
}
#trend-up-arrow {
	color: #555;
}

.trend-up {
	margin-left: -30px !important;
	//border: 1px solid red;
}
.accept-text-value {
	margin-left: 25px;
	font-weight: 400 !important;
}

.progress-div {
	width: 100px;

}
.invi {
	visibility: none;
}

/* SAVE - TOAST */

#save-toast span{
	color: #4dc47d;
}
#save-results {
	margin-left: 0px;
}
hr {
	margin-top: 0px;
	border-color: #ccc;
	background-color: #ccc;
}