/* CSS declarations go here */

* {
  -webkit-border-top-radius: 0px !important;
     -moz-border-top-radius: 0px !important;
          border-top-radius: 0px !important;
  -webkit-border-bottom-radius: 3px !important;
     -moz-border-bottom-radius: 3px !important;
          border-bottom-radius: 3px !important;
}
a {
	text-decoration: none !important;

}

.spaceBetween {
	width: 15px;
	height: 15px;
	//margin-bottom: 50px;
}

button:focus {outline:0;}

.navbar {
	background-color: #222;
	margin-top: 0px;
	border-bottom: 1px solid #333;
}
.title span {
	color: #4285f4;
}

.title {
	font-family: 'Audiowide', cursive;
	font-weight: 400;
	font-size: 1.5em;
	color: #999;
	letter-spacing: 2px;
	margin-left: 15px;

}
.sign {
	color: #555;
}
.content {
	margin: 100px 15px 0px; 

}
.sign {
	color: #428bca;
	margin-right: 15px;
}
.sub-title {
	font-family: 'Oxygen', sans-serif;
	font-weight: 900;
	color: #222;
	background-color: #428bca;
}

.landing {
	margin: auto 0:;
}
.panel {
	margin-top: -25px;
	border-color: #222;
}
div.panel-heading {
	color: #333;
	font-weight: bold !important;
}
h4 {
	margin: auto 5px;
	font-size: 1.5em;
	color: #666;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;


}
li.list-group-item {
	background-color: #bbb;
	color: #222;
}
.more-horiz {
	
	color: #ccc;
}

.right {
	margin-top: 3px;
	color: #333;
}
div#tab {
	background-color: #ccc;
}

.icon {
	width: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #222;
}

strong {
	color: #146eb4;
	font-family: 'Oxygen', sans-serif;
}
.top-list {
	padding-left: 0px;
}
ul {
	color: #ccc;
	list-style-type: none;
}
li span {
	color: #333;
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding-left: 10px;

}
img {
	width: 42px;
	height: auto;
	margin-left: 15px;
}

/* CALC */

.calc-label {
	font-size: 1em;
}

.results {
	margin-top: 1px;
	//display: none;
}

.form-control {
	font-weight: bold;
	color: #428bca;
}

hr {
	border: 1px solid #111;
	color: #333;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input#distance-input {
	font-size: 2.5em;
	color: #4dc47d;
}
input#speed-input {
	font-size: 2.5em;
	color: #4dc47d;
}

input {
	font-family: 'Roboto', sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	text-indent: 10px;
}
.calc {
	border-bottom: 1px solid #333;
	margin-bottom: 0px;
}


/* Sign In */



@media screen and (min-width: 600px) {
	body {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	nav {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}



}
