/* CSS declarations go here */

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
a {
	text-decoration: none;
}

.navbar {
	background-color: #222;
	margin-top: 0px;
	border-bottom: 1px solid #333;
}
.title span {
	color: #4285f4;
}

.title {
	font-family: 'Audiowide', cursive;
	font-weight: 400;
	font-size: 1.5em;
	color: #999;
	letter-spacing: 2px;
	margin-left: 15px;

}
.content {
	margin-top: 100px;
}
.sign {
	color: #428bca;
	margin-right: 15px;
}
.sub-title {
	font-family: 'Oxygen', sans-serif;
	font-weight: 900;
	color: #222;
	background-color: #428bca;
}

.landing {
	margin: auto 0:;
}
.panel {
	margin-top: -25px;
	border-color: #222;
}
.right {
	margin-top: 2px;
	color: #333;
}
div#tab {
	background-color: #ccc;
}

.icon {
	width: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #222;
}

strong {
	color: #146eb4;
	font-family: 'Oxygen', sans-serif;
}
.top-list {
	padding-left: 0px;
}
ul {
	color: #ccc;
	list-style-type: none;
}
li span {
	color: #333;
	font-family: 'Oxygen', sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding-left: 10px;

}
img {
	width: 42px;
	height: auto;
	margin-left: 15px;
}

/* CALC */

.calc-label {
	font-size: 1em;
}
.results {
	margin-top: 1px;
}



input {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-indent: 10px;
}


/* Sign In */



@media screen and (min-width: 600px) {
	body {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	nav {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}



}
