<!-- CALC -->

<template name="calc">
<div flex horizontal layout center-justified class="calc-title down-animate">
	

		<core-icon icon="hardware:keyboard"></core-icon>


		<h4> Trip Calculator &copy;</h4>

</div>


<br>
<div class="left-animate">
<div vertical layout class="input-column">
	<div class="left-animate">
		<paper-input-decorator floatingLabel label="Distance in miles" id="distance-input-dec" type="number" class="input-big">
			<input type="number" is="core-input" id="distance-input" class="">
		</paper-input-decorator>
	</div>
	<div class="left-animate">
		<paper-input-decorator floatingLabel label="Speed in mph" id="speed-input-dec" type="number" class="input-big">
			<input type="number" is="core-input" id="speed-input">
		</paper-input-decorator>
	</div>
	
	<!-- GLIMPSE bar-->
	<br>
	<div class="glimpse" horizontal layout center-justified>
		
		<div id="clock">
			<core-icon icon="device:access-time" class="hours dark-side" ></core-icon>
		</div>
		<div>
		<span class=" glimpse-text hours">{{ totalHours }}</span>
		</div>
		<div>
			<span class="glimpse-text hours vert-divider"> | </span>
		</div>
		<div>
		<a href="/results">
			<span class="glimpse-text hours show-more-text"> More Results </span>
		</a>
		</div>
	</div>
	<br>
	<div class="space-divider" horizontal layout flex center-justified>
	<core-icon icon="more-horiz"></core-icon>
	</div>
</div>

<br><br><br><br><br><br><br>
</div>

</template>