.log-panel {
	//border: 1px solid red;
	margin: 0 auto;
	text-align: center;
}
.log-date-icon {
	margin-top: -5px;
	color: #666;
}
.log-list {
	border-bottom: 1px solid #333;
}
.ul-logs {
	padding: 0;
	list-style-type: none;
	//border: 1px solid red;
}
.li-logs {
	line-height: 2em;
	list-style-type: none;
	//border: 1px solid red;
}
.log-panel-label {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #ccc;
}
.log-panel-label-footer {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #428bca;
}
.logs-label {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #4dc47d;
	//border: 1px solid red;
	padding: 0;
}
.isoff-label {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1em;
	color: #555;
	//border: 1px solid red;
	padding: 0;
}
.error {
	margin-right: 2px;
	color: #f57d00;
}

.footer-div {

}

#footer {
	//border: 1px solid red;
	bottom: 0;
	height: 50px;
	//border-top: 1px solid #333;
	margin: 20px auto;
}
.footer-btn {
	background-color: #f57d00;
	color: #222;
}