<template name="logbook">
<div flex horizontal layout center-justified class="down-animate">
	<span class="glyphicon glyphicon-book"></span> <h4> Log Book </h4>
</div>
<div horizontal layout center-justified class="topbar-container">
	<div class="pull-left results-icon topbar" flex one center-justified>
		<paper-icon-button icon="arrow-back" class="back-btn" id="back-to-home"></paper-icon-button>
	</div>
	{{#if currentUser}}
	{{#each drivers}}
	<div flex class="topbar first-driver-div" two center-justified>
		<span class="topbar-label first">{{ firstDriver }}</span>
	</div>
	<div flex class="topbar second-driver-div" two center-justified>
		<span class="topbar-label second">{{ secondDriver }}</span>
	</div>
	{{/each}}
	<div flex class="pull-right results-icon topbar" one center-justified>
		<paper-icon-button icon="add" id="add-log-btn" style="color: #428bca;"></paper-icon-button>
	</div>
	{{/if}}

	{{#unless currentUser}}
	<div flex class="pull-right results-icon topbar" one center-justified>
		<paper-icon-button icon="add" id="add-not-signed" style="color: #444;"></paper-icon-button>
	</div>
	{{/unless}}
</div>

<br>

<div class="left-animate">
<div vertical layout>

	<div horizontal layout class="left-animate log-list">
		<div class="log-panel" center-justified flex two>
			<span class="log-panel-label">DATE</span>
		</div>
		<div class="log-panel" center-justified flex two>
			<span class="log-panel-label">MILEAGE</span>
		</div>
		<div class="log-panel" center-justified flex two>
			<span class="log-panel-label">DRIVING</span>
		</div>
		<div class="log-panel" center-justified flex two>
			<span class="log-panel-label">ON-DUTY</span>
		</div>
		<div class="log-panel" center-justified flex one>
			<span class="log-panel-label">LOG</span>
		</div>
	</div>
	{{#unless currentUser}}
	<div horizontal layout class="right-animate results-list" center-justified>
		
		<div class="result-sign-in" center-justified>
			<paper-button class="result-sign-in-text" id="log-sign">Sign in to view your logs <core-icon icon="chevron-right"></core-icon></paper-button>
		</div>
		
	</div>
	{{/unless}}

	{{#if currentUser}}
		<ul class="ul-logs" id="first-driver-log">
			{{#each driverLogOne }}
			<li class="li-logs li-logs-one">
				<div horizontal layout class="up-animate log-list">
					<div class="log-panel" center-justified flex two>
						<span class="logs-label">{{ logdate}}</span>
					</div>
					<div class="log-panel" center-justified flex two>
						<span class="logs-label">{{ mileageView mileage }}</span>
					</div>
					<div class="log-panel" center-justified flex two>
						<span class="logs-label">{{drivingView driving }}</span>
					</div>
					<div class="log-panel" center-justified flex two>
						<span class="logs-label onduty-label">{{ onDutyView onduty }}</span>
					</div>
					<div class="log-panel" center-justified flex one>
						<span class="isoff-label" id="isoff-label" style="{{ styleIsOff }}">{{ isOff onduty }}</span>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>

		<ul class="ul-logs" id="second-driver-log">
			{{#each driverLogTwo}}
			<li class="li-logs li-logs-two">
				<div horizontal layout class="up-animate log-list">
					<div class="log-panel" center-justified flex two>
						<span class="logs-label">{{ logdate }}</span>
					</div>
					<div class="log-panel" center-justified flex two>
						<span class="logs-label">{{ mileageView mileage }}</span>
					</div>
					<div class="log-panel" center-justified flex two>
						<span class="logs-label">{{ drivingView driving }}</span>
					</div>
					<div class="log-panel" center-justified flex two>
						<span class="logs-label">{{ onDutyView onduty }}</span>
					</div>
					<div class="log-panel" center-justified flex one>
						<span class="isoff-label" id="isoff-label">{{ isOff isoff}}</span>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	{{/if}}
</div>

</div>
	<footer id="footer">
		<div horizontal layout class="left-animate log-list">
		<div class="log-panel" center-justified flex two>
			<span class="log-panel-label-footer">DATE</span>
		</div>
		<div class="log-panel" center-justified flex two>
			<span class="log-panel-label-footer" id="total-mileage-text"></span>
		</div>
		<div class="log-panel" center-justified flex two>
			<span class="log-panel-label-footer">DRIVING</span>
		</div>
		<div class="log-panel" center-justified flex two>
			<span class="log-panel-label-footer">ON-DUTY</span>
		</div>
		<div class="log-panel" center-justified flex one>
			<span class="log-panel-label-footer">OFF</span>
		</div>
	</div>
	</footer>


<paper-toast text="YOU MUST BE SIGNED IN TO ADD LOGS " id="error-add-log"> 
	
	<span class="glyphicon glyphicon-alert error"></span>

</paper-toast>
</template>