

paper-icon-button#exit {
    color: #428bca;
}
paper-icon-button.back-btn {
    color: #428bca;
}

paper-input {
	color: #ccc;
	font-family: 'Roboto', sans-serif;
	font-size: 1.8em;
}

paper-input-decorator /deep/ .focused-underline {
    /* line color when the input is focused */
    background-color: #333;
}

paper-input-decorator /deep/ ::-webkit-input-placeholder {
    /* platform specific rules for placeholder text */
    //color: red;
    font-size: 1em;
    width: auto;
}
paper-icon-button#save-preferences {
    color: #428bca;
}
paper-button.goto-saved-btn {
    background-color: #428bca;
    color: #ccc;
}
paper-input-decorator[focused] /deep/ .floating-label,
paper-input-decorator[focused] /deep/ .label-text {
/* floating label color when the input is focused */
color: #ccc !important;
}
