.login {
	background-color: #444 !important;
}
.h3-edit-pref {
	color: #428bca;
	margin-left: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
.dollar {
	color: #555;
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	font-size: 2.5em;
	padding-top: 20px;
}
.dolla-div {
	margin-top: 46px;
	margin-left: 5px;
}
.preferences-div {
	margin-right: 30px;
}
input#rate-input {
	font-size: 2.5em;
	color: #4dc47d;
	margin-left: 5px;
}
.pref-drive-container {
	border-bottom: 1px solid #666;
	line-height: 4em;
	vertical-align: middle;
	margin: 0px 15px 0px;

}
.save-rate-label {
	font-size: 1.5em;
	color: #428bca;
}
#save-rate-icon {
	color: #428bca;
}

#update-preferences-toast span {
	color: #4dc47d;
}