<template name="sign_in">
<div class="down-animate">
	<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><span class="glyphicon glyphicon-barcode"></span> User Profile <a href="/"><span class="glyphicon glyphicon-remove pull-right right"></span></a></div>
		  

		<!-- List group -->
		<ul class="list-group">
		    <li class="list-group-item login">
					<div class="down-animate sign">{{> loginButtons }}</div>	    	
		    </li>
		    
		    {{#if currentUser}}
		    <h3 class="h3-edit-pref">&middot; Edit Preferences &middot;</h3>
		    {{#each preferences}}
		    <li>
		    	<div class="preferences-div" horizontal layout>
			    	<div center-justified class="dolla-div"><span class="dollar">$</span></div>
			    	<div flex>
						<paper-input-decorator floatingLabel label="set rate per mile" id="rate-per-mile" type="number" class="input-big">
							<input type="number" is="core-input" id="rate-input" class="" value="{{ rate }}">
						</paper-input-decorator>
					</div>
				</div>
		    </li>
		    <br>
		    <li>
				<div horizontal layout center-justified class="pref-drive-container">
					<div flex two><core-icon icon="notification:drive-eta" id="trend-up-arrow"></core-icon></div>
					<div flex one><core-icon icon="social:people-outline"></core-icon></div>
					<div flex two><span>TEAM</span></div>
					<div flex two><paper-toggle-button class="drive-toggle" checked="{{ drive }}"></paper-toggle-button></div>
					<div flex one><core-icon icon="social:person-outline"></core-icon></div>
					<div flex two><span>SOLO</span></div>
				</div>
		    </li>
		    <br>
		    <li>
		    	<div class="preferences-div" horizontal layout id="fir">
			    	<div center-justified class="driver-name-div"><core-icon icon="social:person" id="trend-up-arrow" class="person-icon"></core-icon></div>
			    	<div flex>
						<paper-input-decorator floatingLabel label="1st Driver's Name " id="driver-one-name" type="number" class="input-big">
							<input type="text" is="core-input" id="first-driver-input" class="driver-input" value="{{ firstDriver }}">
						</paper-input-decorator>
					</div>
				</div>
		    </li>
		    <br>
		    <li>
		    	<div class="preferences-div" horizontal layout id="sec">
			    	<div center-justified class="driver-name-div"><core-icon icon="social:person" id="trend-up-arrow" class="person-icon"></core-icon></div>
			    	<div flex>
						<paper-input-decorator floatingLabel label="2nd Driver's Name " id="driver-one-name" type="number" class="input-big">
							<input type="text" is="core-input" id="second-driver-input" class="driver-input" value="{{ secondDriver }}">
						</paper-input-decorator>
					</div>
				</div>
		    </li>
		    <br>
		    <li>
		    	<div horizontal layout center-justified>
		    		<paper-button id="save-preferences"><span class="save-rate-label">SAVE</span><core-icon icon="save" id="save-rate-icon"></core-icon></paper-button>
		    	</div>
		    </li>
		    {{/each}}
		    {{/if}}
		    
		</ul>
	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<paper-toast text="UPDATE SUCCESFUL " id="update-preferences-toast"> 
	
	<span class="glyphicon glyphicon-ok-sign"></span>

</paper-toast>

</template>

