<!-- CALC -->

<template name="swift">
<div flex horizontal layout center-justified class="calc-title down-animate">
	

		<core-icon icon="communication:textsms"></core-icon>


		<h4> Swift Text Message</h4>

</div>


<br>

<div class="up-animate text-area-div" horizontal center-justified layout>
	<textarea class="swift-text-area" placeholder="Copy & Paste Swift Text Message here..."></textarea>
</div>

<div class="swift-btn-div" horizontal center-justified layout>
	<div center-justified>
		<paper-button class="swift-submit">submit</paper-button>
	</div>
	<div class="swift-btn-space"></div>
	<div center-justified>
		<paper-button class="swift-clear">clear</paper-button>
	</div>
</div>



</template>

<!-- SETTINGS -->

